#Q1. Create one variable containing following type of data:

In [2]:
name = 'Santjee'

In [3]:
type(name)

str

In [4]:
marks = 9.5
type(marks)

float

In [5]:
l = [3,5,6,'sant',True,5.6]
type(l)

list

In [6]:
t = (34,56,34,'sant',5.7)
type(t)

tuple

Q2. Given are some following variables containing data:

In [7]:
var1 = ''
type(var1)

str

In [8]:
var2 = '[DS,ML,python]'
type(var2)

str

In [9]:
var3 = ['DS','ML','Python']
type(var3)

list

In [10]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

In [11]:
a = 10
b = 3

In [12]:
div = a/b
div

3.3333333333333335

In [13]:
mod = a%b
mod

1

In [14]:
power = a**b
power

1000

In [15]:
c = a//b
c

3

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
l = [45,30,'sant',3.5,True,34.,45,90,'Gupta',1]

In [18]:
for i in l:
    print(i)
    print(type(i))

45
<class 'int'>
30
<class 'int'>
sant
<class 'str'>
3.5
<class 'float'>
True
<class 'bool'>
34.0
<class 'float'>
45
<class 'int'>
90
<class 'int'>
Gupta
<class 'str'>
1
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [32]:
A = int(input("Enter A number:\n"))
B = int(input("Enter B number:\n"))
count = 0
while A % B == 0:
    A = A // B
    count += 1
print("divided by",count,"times.")

Enter A number:
 32
Enter B number:
 2

divided by 5 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [33]:
# Creating a list of 25 integers
numbers = list(range(1, 26))

# Using a for loop and if-else condition to check divisibility by 3
for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [35]:
'''Mutable Data Types
Mutable data types wo hote hain jinke values ko aap change kar sakte ho bina naye object create kiye. Matlab, inka internal state modify ho sakta hai.

Examples:'''
my_list = [1, 2, 3]
my_list.append(4)  
print(my_list)

[1, 2, 3, 4]

In [36]:
'''Immutable Data Types
Immutable data types wo hote hain jinke values ko aap change nahi kar sakte once they are created. Agar aapko value change karni hai, toh aapko naya object create karna padega.

Examples:'''
my_string = "Hello"
new_string = my_string + " World"  
print(new_string)  
print(my_string)

Hello World
Hello